<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>グループ追加</title>
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/theme.css" rel="stylesheet">
    <link href="../static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/assets/css/alertify.css" rel="stylesheet">
    <link href="../static/css/mycss.css" rel="stylesheet">
    <link href="../static/assets/css/facybox.css" rel="stylesheet">

    <script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/raphael-min.js"></script>
    <script type="text/javascript" src="../static/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src='../static/assets/js/sparkline.js'></script>
    <script type="text/javascript" src="../static/assets/js/realm.js"></script>
    <script type="text/javascript" src="../static/js/addGroup.js"></script>

    <script type="text/javascript" src="../static/assets/js/select2.min.js"></script>

</head>
<body style="padding-top: 10px;">
    <div class="row-fluid">
      <div class="widget widget-padding span12">
        <div class="widget-header">
          <i class="icon-list-alt"></i><h5>グループ追加</h5>
          <div class="widget-buttons">
          </div>
        </div>
        <div class="widget-body">
          <div class="widget-forms clearfix">
            <form class="form-horizontal">
              <div class="control-group span12">
                <label class="control-label">グループ名：</label>
                <div class="controls span6">
                  <input class="span12 " data-title="" type="text" placeholder="" value="" >
                </div>
              </div>
            </form>
            <form class="form-horizontal">
              <div class="control-group span12">
                <label class="control-label">グループ名（読み）：</label>
                <div class="controls span6">
                  <input class="span12 " data-title="" type="text" placeholder="" value="" >
                </div>
              </div>
            </form>
            <form class="form-horizontal">
              <div class="control-group span12">
                <label class="control-label">備考：</label>
                <div class="controls span6">
                  <input class="span12 " data-title="" type="text" placeholder="" value="" >
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="widget-footer">
            <button class="btn btn-success" type="submit" style="margin-left: 0px" id="addGroup">追加</button>
        </div>
      </div>
    </div>
</body>
</html>