<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Picture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Bluth Company">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/theme.css" rel="stylesheet">
    <link href="../static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/assets/css/alertify.css" rel="stylesheet">
    <link href="../static/css/mycss.css" rel="stylesheet">
    <link href="../static/assets/css/facybox.css" rel="stylesheet">

    <!-- {% block cssArea%}{%endblock%} -->
    <link rel="shortcut icon" href="../static/assets/ico/favicon.html">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <link href="../static/assets/css/theme.css" rel="stylesheet">
    <link href="../static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/assets/css/alertify.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../static/assets/css/facybox.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="../static/css/jquery.pagination.css" rel="stylesheet" media="screen"/>

</head>
<body id="">
<!-- wrap2 start -->
<div id="wrap2">
    <div class="container-fluid">
        <!-- Main window -->
        <div class="container" id="tables_page">
            <!-- /.fluid-container start -->
            <div class="row-fluid row-fluid_2">
                <img style="width: 1175px;height: 495px;" class="picturePosition" src=".././static/images/fushitu.png"/>
            </div>
            <!--/.fluid-container-->
        </div>
    </div>
    <script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/jquery-ui.min.js"></script>
    <script src="../static/layui/layui.js" charset="utf-8"></script>
    <script src="../static/js/talentMasterSearch.js" charset="utf-8"></script>
    <script src="../static/assets/js/jquery.facybox.js" charset="utf-8"></script>
</div>
<!-- wrap2 ends-->
</body>
</html>